
# 依赖 & 日志文件
# Dependencies & Log Files
node_modules
npm-debug.log*
yarn-error.log
pnpm-debug.log*

# 编译输出目录
# Build output folders
dist
unpackage/dist/*
/build/
/out/
unpackage/
unpackage/dist/
unpackage/build/